<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting System</title>
    <link rel="stylesheet" href="../STYLES/index.css">
</head>
<body>
    <div class="container">
        <h1>Higher Executive and Legislative Election</h1>
        <button onclick="window.location.href='officer_login.html'">COMSELEC OFFICER</button>
        <button onclick="window.location.href='student_voting.html'">STUDENT</button>
    </div>
</body>
</html>